<footer class="container text-center mt-4 mx-auto p-4 text-sm">
    {{ siteInformation.siteDescription|markdown }}
    <p>&copy; {{ now | date("Y") }} - built by <a class="text-blue-800" href="http://helixsoftware.uk">Helix Software</a> with <a class="text-blue-800" href="https://craftcms.com">Craft CMS</a>.</p>
</footer>