{% extends "_layout.twig" %}

{% set posts = craft.entries().section('music').all() %}

{% block content %}
    <div class="spacer p-4 d-md-none"><br></div>
    <div class="container mb-3 text-center">
        <h1 class="text-4x1 text-black font-display my-4">Music</h1>
        <p>We don't have a search bar yet, but lucky for you, the collection is still pretty small.</p>
    </div>
    {% include "_includes/music_listing.twig" with { posts: posts } only %}
{% endblock %}