<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
  {{ include("_includes/head.twig") }}
  <body class="ltr bg-white">
    {% include "_includes/nav.twig" %}
    {% block content %}
    {% endblock %}
    {{ include("_includes/footer.twig") }}
  </body>
</html>
