h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.1rem;
}
p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
  color: inherit;
}
ul, ol {
  list-style: none;
  padding: 0;
}
img, video {
  max-width: 100%;
  height: auto;
}
blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

/* tailwind temporary fix */
.text-blue-800 {
  color: rgba(30, 64, 175);
}
.border-blue-400 {
  --tw-border-opacity: 1;
  border-color: rgba(96, 165, 250, var(--tw-border-opacity));
}
.border-b {
  border-bottom-width: 1px;
}

/* navigation */
.top-mobile-nav {
  background-color: white;
  position: fixed;
  z-index: 10;
}

.btn-line {
  width: 2rem;
  height: 0.25rem;
  margin: 0 0 0.5rem 0;
  background: black;
}

.menu {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 5;
  background-color: white;
}
.nav-ul {
  align-items: baseline;
}
.site-title {
  font-family: 'Times New Roman', serif;
  font-size: 2rem;
}
@media (min-width: 768px) {
  .site-title {
    font-size: 3rem;
  }
}
.nav-item {
  font-size: 1.5rem;
}

/* homepage */
.home-hero {
  height: 80vh;
  background: rgba(0,0,0,0.4);
  background-blend-mode: darken;
}

.home-section {
  height: 23rem;
}

.home-section-content {
  background-color: white;
  box-shadow: 5px 10px 10px rgba(128, 128, 128, 0.3);
  @include media-breakpoint-only(md) {
    background-color: none;
    box-shadow: none;
  }
}
.home-section-1 {
  background-image:
    linear-gradient(to right, rgba(255,255,255, 0.9), rgba(255,255,255, 0.9)),
    url('/assets/general/background.svg');
}

.card-columns {
    @include media-breakpoint-only(md) {
      column-count: 3;
    }
    @include media-breakpoint-only(xl) {
      column-count: 4;
    }
  }

/* album page */
.album-link {
  overflow: hidden;
}
a.album-link:hover {
  text-decoration: none;
  color: inherit;
  background-color: #f8f9fa!important;
  box-shadow: 3px 3px 10px #ededed;
}
.icon-background {
  color: #dee1e5;
}
.fa-chevron-right {
  color: #535353;
  transition: transform 0.2s ease 0s;
}
.infobox__content__wrapper {
  max-height: inherit;
  overflow: hidden;
  transition: max-height 0.1s ease 0s;
}
.artist-title {
  color: #686868;
}

/* components */ 
.rounded-xl {
  border-radius: 1em;
}

/* .album__section {
  background-color: ;
} */